.pad-left { margin-left: 15px; }
.well div { color: #bbf; font-size: 15px; font-family: "Verdana";}
.glow { text-shadow: 0 2px 10px #FF0000; }
.thumbnail {min-height: 210px;}
.lime { color: lime !important; }
.red { color: tomato !important;}
.bold { font-weight: bold;}